<div class="container-fluid">

  <ul class="nav nav-tabs my-tabs">
    <li role="presentation"><%= link_to "首頁", restaurants_path %></li>
    <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
    <li role="presentation"><%= link_to "Top10人氣餐廳", ranking_restaurants_path %></li>
    <li role="presentation" class="active"><%= link_to "美食達人", users_path %></li>
  </ul>
  <br>

  <div class="user-index-container">
    <% @users.each do |user| %>
      <div class="user-index-content">
        <div class="user-index-img-frame">
          <%= image_tag user.avatar, class: "img-responsive" if user.avatar? %>
          <%= image_tag "http://www.likoda.com.tw/style/images/frontpage/default_user_icon.png",
         class: "img-responsive" if !user.avatar?%>
        </div>
        <h4><%= link_to user.name, user_path(user) %></h4>
        <div class="user-index-button">
          <div><%= render partial: "shared/follow", locals: {user: user} %></div>
          <div><%= render partial: "shared/friend", locals: {user: user} %></div>
        </div>
      </div>
    <% end %>
  </div>

</div>
