<div class="profile-personal-info row">
  <div class="avatar-frame col-sm-3">
    <%= image_tag @user.avatar, class: "img-responsive img-circle" %>
  </div>
  <div class="col-sm-9">
    <table>
      <tr>
        <td><h3><%= @user.name %></h3></td>
      </tr>
      <tr>
        <td><h5><b><%= @user.email %></b></h5></td>
      </tr>
      <tr>
        <td><p><%= @user.intro %></p></td>
      </tr>
    </table>

    <% if current_user == @user %>
      <%= link_to edit_user_path(@user), class: "profile-edit btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<div class="panel panel-default">
  <div class="panel-heading  my-panel-heading">
    <h4 class="panel-title"><%= "#{@commented_restaurants.size} 家已評論的餐廳" %></h4>
  </div>
  <div class="panel-body my-restaurant-link">
    <% @commented_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="my-restaurant">
          <div class="my-restaurant-img-frame">
            <% if restaurant.image? %>
              <%= image_tag restaurant.image, class: "center-block",
              height: "100%" %>
            <% else %>
              <%= image_tag "http://fakeimg.pl/270x180/BBBBBB/", class: "centet-block",
              height: "100%" %>
            <% end %>
          </div>
          <h4 class="text-center"><%= restaurant.name %></h4>
        </div>
      <% end %>
    <% end %>
</div>
</div>
