<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-4">
      <div class="restaurant-item">
        <%if restaurant.image? %>
          <%= image_tag restaurant.image, class: "img-responsive center-block" %>
        <% else %>
          <%= image_tag "http://fakeimg.pl/270x180/FFFFBB/", class: "img-responsive center-block" %>
        <% end %>
        <div class="caption">
          <h3 class="text-center"><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
          <div>
            <% if average_score(restaurant) > 0 %>
              <div class="index-score">
                <span class="glyphicon glyphicon-heart index-heart"></span>
                <p><%= average_score(restaurant) %></p>
              </div>
            <% end %>
            <p class="label label-default my-label"><%= restaurant.category.name %></p>
          </div>
          <div class="truncated-description">
            <p><%= truncate(restaurant.description, length: 70) %></p>
          </div>
          <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
          <%= render partial: "shared/like", locals: {restaurant: restaurant} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
