<h1 class="index-title">Restaurants List</h1>

<%= link_to admin_categories_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-right"> Categories List</span>
<% end %>
<hr>

<table class="table">
  <tr>
    <td></td>
    <th class="res-category">Category</th>
    <th class="res-name">Name</th>
    <td></td><td></td><td></td>
  </tr>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><div class="admin-index-image-frame"><%= image_tag restaurant.image, width: "100%" %></div></td>
    <td><p class=res-category><%= restaurant.category.name %></p></td>
    <td><p class="res-name"><%= restaurant.name %></p></td>
    <td><%= link_to '瀏覽', admin_restaurant_path(restaurant),
      class: "btn btn-default"%></td>
    <td><%= link_to '編輯', edit_admin_restaurant_path(restaurant),
    class: "btn btn-default" %></td>
    <td><%= link_to '刪除', admin_restaurant_path(restaurant),
    class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<%= paginate @restaurants %>
<%= link_to new_admin_restaurant_path, class: "btn btn-default pull-right" do %>
  <span class="glyphicon glyphicon-plus"></span> Add New Restaurant
<% end %>
