<h1>Restaurants List</h1>

<table class="table">
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= image_tag restaurant.image, width: "100px" %></td>
    <td><%= restaurant.name %></td>
    <td><%= link_to '瀏覽', admin_restaurant_path(restaurant) %></td>
    <td><%= link_to '編輯', edit_admin_restaurant_path(restaurant) %></td>
    <td><%= link_to '刪除', admin_restaurant_path(restaurant),
    method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<%= paginate @restaurants %>
<br>
<%= link_to '新增餐廳', new_admin_restaurant_path %>
