<h1 class="index-title">Restaurants List</h1>

<table class="table">
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><div class="image-frame"><%= image_tag restaurant.image, width: "100%" %></div></td>
    <td><p class="res-name"><%= restaurant.name %></p></td>
    <td><%= link_to '瀏覽', admin_restaurant_path(restaurant),
      class: "btn btn-default"%></td>
    <td><%= link_to '編輯', edit_admin_restaurant_path(restaurant),
    class: "btn btn-default" %></td>
    <td><%= link_to '刪除', admin_restaurant_path(restaurant),
    class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<%= paginate @restaurants %>
<%= link_to new_admin_restaurant_path, class: "btn btn-default pull-right" do %>
  <span class="glyphicon glyphicon-plus"></span> Add New Restaurant
<% end %>
