<h1><%= @restaurant.name %></h1>

<table>
  <tr>
    <th>Tel</th>
    <td><%= @restaurant.tel %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= @restaurant.address %></td>
  </tr>
  <tr>
    <th>Opening Hours</th>
    <td><%= @restaurant.opening_hours %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @restaurant.description %></td>
  </tr>
  <tr>
    <th>Photo</th>
    <td><%= image_tag @restaurant.image, width: '600px' %></td>
  </tr>
</table>

<br />
<%= link_to '編輯內容', edit_admin_restaurant_path(@restaurant) %>
<br />
<%= link_to '刪除', admin_restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
<br>
<%= link_to '回首頁', admin_restaurants_path %>
