<div class="container-fluid">

  <ul class="nav nav-tabs my-tabs">
    <li role="presentation"><%= link_to "首頁", restaurants_path %></li>
    <li role="presentation" class="active"><%= link_to "最新動態", feeds_restaurants_path %></li>
  </ul>
  <br>

  <div class="row">
    <div class="panel panel-default col-sm-6">
      <div class="panel-heading my-panel-heading">
        <div class="panel-title"><h3>最新餐廳</h3></div>
      </div>
      <div class="panel-body feeds-restaurants-panel-body">
        <% @recent_restaurants.each do |restaurant| %>
          <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
          <p class="label label-default my-label"><%= restaurant.category.name %></p>
          <p><%= restaurant.description %></p>
          <hr>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default col-sm-6">
      <div class="panel-heading my-panel-heading">
        <div class="panel-title"><h3>最新評論</h3></div>
      </div>
      <div class="panel-body feeds-comments-panel-body">
        <% @recent_comments.each do |comment| %>
          <h3><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h3>
          <div class="feeds-comment-score comment-score<%= comment.score %>">
            <span class="glyphicon glyphicon-heart heart1"></span>
            <span class="glyphicon glyphicon-heart heart2"></span>
            <span class="glyphicon glyphicon-heart heart3"></span>
            <span class="glyphicon glyphicon-heart heart4"></span>
            <span class="glyphicon glyphicon-heart heart5"></span>
          </div>
          <p><%= comment.content %></p>
          <p class="user-name">by <%= link_to comment.user.name, user_path(comment.user) %></p>
          <hr>
        <% end %>
      </div>
    </div>
  </div>

</div>
