<h1 class="show-title"><%= @restaurant.name %></h1>
<h4 class="show-subtitle"><%= @restaurant.category.name %></h4>
<%= link_to "Favorite", favorite_restaurant_path(@restaurant), method: :post %>
<%= link_to "Unfavorite", unfavorite_restaurant_path(@restaurant), method: :post %>
<% if average_score(@restaurant) > 0 %>
  <div class="title-score">
    <span class="glyphicon glyphicon-heart title-heart"></span>
    <p><%= average_score(@restaurant) %></p>
  </div>
<% end %>

<div class="well">
  <div class="row">
    <div class="col-xs-5 col-md-6">
      <h3 class="show-content-title">Tel</h3>
    </div>
    <div class="show-content-detail col-xs-7  col-md-6">
      <p><%= @restaurant.tel %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-md-6">
      <h3 class="show-content-title">Address</h3>
    </div>
    <div class="show-content-detail col-xs-7 col-md-6">
      <p><%= @restaurant.address %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-md-6">
      <h3 class="show-content-title">Opening Hours</h3>
    </div>
    <div class="show-content-detail col-xs-7 col-md-6">
      <p><%= @restaurant.opening_hours %></p>
    </div>
  </div>
  <div class="text-right show-more-details">
    <%= link_to dashboard_restaurant_path(@restaurant) do %>
      More Details <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>
</div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <p class="lead"><%= @restaurant.description %></p>
    </div>
  </div>
  <div>
    <div class="show-image-frame">
      <% if @restaurant.image? %>
        <%= image_tag @restaurant.image, width: "100%" %>
      <% else %>
        <%= image_tag "http://fakeimg.pl/270x180/BBBBBB/", width: "100%" %>
      <% end %>
    </div>
  </div>
<br />

<% if current_user.admin? %>
  <div class="pull-right">
    <%= link_to edit_admin_restaurant_path(@restaurant), class: "show-icon btn btn-default" do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <%= link_to admin_restaurant_path(@restaurant),
      method: :delete, data: { confirm: "Are you sure?"}, class: "show-icon btn btn-default" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
<% end %>
<br>
<hr>

<div class="comment-area container-fluid">
  <% num = 1 %>
  <% @restaurant.comments.each do |comment| %>
    <div class="well">
      <% if comment.created_at %>  <!--make sure that it can render restaurants/show
        when the content of comment is empty-->
        <%= link_to user_path(comment.user) do %>
          <h4><%= comment.user.name %></h4>
        <% end %>
        <div class="comment-time"><p><%= time_ago_in_words(comment.created_at) %></p></div>
        <div class="comment-tag"><%= "# #{num}" %></div>
        <div class="seperate"></div>
        <div class="comment-score comment-score<%= comment.score %>">
          <span class="glyphicon glyphicon-heart heart1"></span>
          <span class="glyphicon glyphicon-heart heart2"></span>
          <span class="glyphicon glyphicon-heart heart3"></span>
          <span class="glyphicon glyphicon-heart heart4"></span>
          <span class="glyphicon glyphicon-heart heart5"></span>
        </div>
        <br>
        <div class="comment-content">
          <p><%= simple_format comment.content %></p>
        </div>
        <% if current_user.admin? or current_user == comment.user %>
          <div class="comment-delete">
            <%= link_to restaurant_comment_path(@restaurant, comment),
            method: :delete, data: { confirm: "Are you sure?"},
            class: "comment-delete-icon" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        <% end %>
        <% num += 1 %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="seperate"></div>

<div class="comment-form container-fluid">
  <% if !@restaurant.users.include?(current_user) %>
    <%= form_for [@restaurant, @comment] do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.text_area :content, placeholder: "留個言吧" %>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="score">
            <%= f.radio_button :score, 1, {class: "score1"} %>
            <%= f.radio_button :score, 2, {class: "score2"} %>
            <%= f.radio_button :score, 3, {class: "score3"} %>
            <%= f.radio_button :score, 4, {class: "score4"} %>
            <%= f.radio_button :score, 5, {class: "score5"} %>
            <span class="glyphicon glyphicon-heart heart1"></span>
            <span class="glyphicon glyphicon-heart heart2"></span>
            <span class="glyphicon glyphicon-heart heart3"></span>
            <span class="glyphicon glyphicon-heart heart4"></span>
            <span class="glyphicon glyphicon-heart heart5"></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-12">
          <%= f.submit class: "btn btn-default" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default"%>
        </div>
      </div>
    <% end %>

  <% else %>
    <h4>The restaurant had been commented.</h4>
  <% end %>
</div>
