<!DOCTYPE html>
<html>
  <head>
    <title>餐廳評論網</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-left" do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to admin_restaurants_path do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>
            <% end %>
          <% end %>
          <div class="res-title">
            <p>Restaurant Forum</p>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <div class="nav navbar-nav navbar-right">
            <% if current_user %>
              Hi, <%= current_user.email %>
              <button type="button" class="btn btn-default navbar-btn">
                <%= link_to('登出', destroy_user_session_path, method: :delete) %>
              </button>
              <button type="button" class="btn btn-default navbar-btn">
                <%= link_to('修改密碼', edit_user_registration_path, class: "navbar-btn") %>
              </button>
            <% else %>
            <button type="button" class="btn btn-default navbar-btn">
              <%= link_to('註冊', new_user_registration_path) %>
            </button>
            <button type="button" class="btn btn-default navbar-btn">
              <%= link_to('登入', new_user_session_path) %>
            </button>
            <% end %>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <% if flash[:notice] %>
        <div class="alert alert-warning" role="alert">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
