<!DOCTYPE html>
<html>
  <head>
    <title>餐廳評論網</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-left" do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to admin_restaurants_path do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>
            <% end %>
          <% end %>
          <div class="res-title">
            <p>Restaurant Forum</p>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <div class="nav navbar-nav navbar-right">
            <% if current_user %>
              Hi, <%= current_user.email %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <button type="button" class="btn btn-default navbar-btn">登出</button>
              <% end %>
              <%= link_to edit_user_registration_path do %>
                <button type="button" class="btn btn-default navbar-btn">修改密碼</button>
              <% end %>
              <%= link_to user_path(current_user) do %>
                <button type="button" class="btn btn-default navbar-btn">Profile</button>
              <% end %>
            <% else %>
              <%= link_to new_user_registration_path do %>
                <button type="button" class="btn btn-default navbar-btn">註冊</button>
              <% end %>
              <%= link_to new_user_session_path do %>
                <button type="button" class="btn btn-default navbar-btn">登入</button>
              <% end %>
            <% end %>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
